<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Madison's Lumber Directory</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/76bb18ad82.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/png" href="/madison-icon.png">
  <script src="/js/modernizr.custom.js"></script>
</head>
<body>

  <header id="site-header">
    <div class="navbar navbar-inverse">
      <div class="container-fluid">

          <div class="navbar-header">
            <a href="/" class="navbar-brand">
              <img src="/madison-logo-small.png" alt="Madison's Lumber" class="navbar-logo">
              Home
            </a>
          </div>

          <ul class="nav navbar-nav"><% if (validToken === true || validToken[0] === true) { %>
            <li><a href="/mills"><i class="fa fa-database" aria-hidden="true"></i> Mills</a></li>
            <li><a href="/users"><i class="fa fa-users" aria-hidden="true"></i> Manage Users</a></li>
            <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> logout</a></li><% } else { %>
            <li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> login</a></li><% } %>
          </ul>
          <% if (validToken === true || validToken[0] === true) { %>
          <div id="sb-search" class="sb-search">
            <form method="GET" action="/mills">
              <input class="sb-search-input" placeholder="Enter your search term..." type="search" value="" name="q" id="search">
              <input class="sb-search-submit" type="submit" value="">
              <span class="sb-icon-search"></span>
            </form>
          </div><% } %>

        </div>
      </div>
    </div>
  </header>



  <main id="site-main">
    <div class="container">
      <%- body %>
    </div>
  </main>

  <footer id="site-footer">
    Copyright &copy; 2017 <a href="http://www.ketadesign.ca/">KetaDesign Productions Inc.</a>
  </footer>
  <script src="/js/classie.js"></script><% if (validToken === true || validToken[0] === true) { %>
  <script src="/js/uisearch.js"></script>
  <script>
    new UISearch( document.getElementById( 'sb-search' ) );
  </script><% } %>
</body>
</html>