<div class="jumbotron text-center add-entry-bg">
  <h1 class="heading-brand">Create a New Mill</h1>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <% if (errors.length > 0) { %>
      <div class="alert alert-danger">
      <% for (error of errors) { %>
        <%= error %><br>
      <% } %>
      </div>
    <% } %>
    <form action="/mills/create" method="POST">

      <div class="form-group">
        <label for="">Name</label>
        <input type="text" name="name" class="form-control">
      </div>

      <div class="form-group">
      <label for="">Description</label>
        <textarea name="description" rows="5" class="form-control"></textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg">Create</button>
      </div>
    </form>
  </div>
</div>